.card-componet{
    display: flex;
    margin: 13px 135px 15px 135px;
    justify-content: space-between;
    border-bottom: 30px;


}
.card-mine{
    font-size: small;
    font-weight: 650;
    color: rgb(74, 70, 70);
    text-align: center;
    /* position: relative; */
}
.card-mine2{
    /* margin-top: 10px 10px; */
    padding: 10px 10px;
    background-color: rgb(235, 235, 235);
}

